.info-background{
    background-color: #fceae8;
}
.categories{
    width: 100px;
}
.btn-buy-noe{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff468f 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}